.div_titulo {
    text-align: center;
    padding: 100px 0;
    background: #3a4d66;
    color: #fff;
}
.mensaje_recibimos {
    color: #fff;
    font-size: 30px;
    border: 1px solid #fff;
    border-radius: 5px;
    width: 350px;
    margin: auto;
}
.img_titulo {
    width: 100px;
    margin: 10px 0;
    filter: grayscale(00%);
}
.titulo {
    font-size: 40px;
}
hr {
    width: 50px;
    margin: auto;
    border: 5px dotted;
    border-radius: 5px;
    color: #fff;
}
.p_titulo {
    margin-top: 5px;
    font-size: 20px;
}
.div_main {
    background: #fff;
    text-align: center;
    margin: auto;
    padding: 70px 0;
}
.div_portafolio {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.div_card_portafolio {
    margin: 10px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
}
.div_main2 {
    background: #3a4d66;
    color: #fff;
    text-align: center;
    margin: auto;
    padding: 70px 0;
}
.div_main h2,
.div_main2 h2 {
    font-size: 30px;
    margin-bottom: 50px;
}
.img_habilidades {
    margin: 10px;
}
.img_habilidades:hover {
    transform: scale(1.2);
    transition-duration: 700ms;
    cursor: pointer;
}
.div_sabermas img {
    margin: 20px;
    width: 150px;
}
.div_sabermas img:hover {
    transform: scale(1.2);
    transition-duration: 700ms;
}
#input-contacto {
    width: 80%;
    margin: auto;
}
#input-contacto label {
    font-size: 20px;
}
#input-contacto input,
textarea {
    width: 500px;
    padding: 5px;
    font-size: 20px;
    border-radius: 5px;
}
.btn_contacto:hover {
    transform: scale(1.1);
    cursor: pointer;
}
.mensage_error{
    color: red;
}

@media (max-width: 390px) {
    .div_sabermas img {
        width: 100px;
    }
}

@media (max-width: 620px) {
    #input-contacto input,
    textarea {
        width: 300px;
    }
}
